.cabeçalho{
    position: absolute;
width: 100%;
height: 243px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, #E78752 2.08%, #0097D8 55.73%, rgba(217, 217, 217, 0.00) 100%);
}

.cabeçalho-img{
    position: absolute;
width: 100%;
height: 243px;
left: 0px;
top: 0px;
width: 100%;
}

.corpo{
    position: absolute;
    width: 100%;
    height: 569px;
    left: 0px;
    top: 243px;
    
    background: #FFFFFF;

}

.fim{
    position: absolute;
    width: 100%;
    height: 215px;
    left: 0px;
    top: 812px;
    
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #0097D8 100%);

}

.mundo{
    position: absolute;
    width: 846px;
    height: 34px;
    left: 324px;
    top: 54px;
    
    font-family: 'IM FELL English';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 48px;
    
    color: #06404D;

}

.sorvete{
    display: flex;
width: 290px;
height: 35px;
flex-direction: column;
flex-shrink: 0;
color: #FFFAFA;
font-size: 40px;
font-family: IM FELL English;
}